.breadcrumb
  font-size rem(14px)
  font-weight 300
  text-transform uppercase
  white-space nowrap

  li
    display inline-block

  a
    color $blue

  span
    color $pantone

  svg
    margin 0 5px
    color $purple