.btn
  display inline-block
  padding 15px 25px
  box-shadow 0 0 10px rgba($black, 0.2)
  border-radius 4px
  @extend .montserrat
  font-size rem(14px)
  font-weight 300
  color $grey
  text-transform uppercase
  cursor pointer