.btn
  display inline-block
  padding 15px 25px
  box-shadow 0 0 10px rgba($black, 0.2)
  border-radius 4px
  @extend .montserrat
  font-size rem(14px)
  text-transform uppercase
  cursor pointer

  &--full
    width 100%

  &--icon
    float right
    background-color $black
    border solid $grey-dark
    border-width 1px 1px 0 1px
    border-radius 0

  &--has-icon-left
    svg
      margin-left 10px

  &--has-icon-right
    svg
      margin-left 10px

  svg
    width 20px
    height 20px
    display inline-block