.authentication
  width 100vw
  height 100vh
  display table

  &__wrapper
    display table-cell

  &__content
    width 95%
    max-width 800px
    display table
    margin auto

    &__image
    &__form
      display table-cell

    &__image
      width 30%
      padding 2%
      background-color $black
      text-align center

    &__form
      padding 6%
      background-color $white

      h1
        margin-bottom 40px
        font-size rem(30px)
        font-weight 300
        color $blue
        text-transform uppercase