.authentication
  width 100vw
  height 100vh
  display table

  &__wrapper
    display table-cell

  &__content
    width 95%
    max-width 800px
    display table
    background-color $black
    border 1px solid $grey-dark
    margin auto

    &__image
    &__form
      display table-cell

    &__image
      width 30%
      padding 2% 5%
      text-align center

    &__form
      padding 6%
      border-left 1px solid $grey-dark

      h1
        margin-bottom 40px
        font-size rem(30px)
        color $pink
        text-transform uppercase