.sidebar
  width 80px
  height calc(100vh - 60px)
  position absolute
  top 60px
  left 0
  background-color $black
  border-right 1px solid $grey-dark
  +above(l)
    width 100px
    height calc(100vh - 70px)
    top 70px

  ul
    width 100%
    height 100%

    li
      text-align center

      a
        display block
        position relative
        padding 20% 0

        &:before
          content ''
          width 5px
          height 100%
          display none
          position absolute
          top 0
          left 0
          background-color $green-light

        svg
          width 25px
          height auto
          color $green
          +above(l)
            width 35px

        &.active
        &:hover
          background-color $black-light

          svg
            color $green-light

        &.active:before
          display block