.panel
  width 100%
  padding 25px
  background-color $black
  border 1px solid $grey-dark

  p
    margin-bottom 40px
    @extend .montserrat
    font-size rem(20px)
    text-transform uppercase
    color $golden