.table__wrapper
  width 100%
  max-width 100%
  border 1px solid $grey-dark
  overflow auto

table
  width 100%
  background-color $black
  text-align left
  text-transform uppercase
  overflow hidden

  tbody
    tr:last-of-type
      border-bottom 0

  tr
    border-bottom 1px solid $grey-dark

    th
    td
      white-space nowrap

      &.id
        width 10%
        text-align center

      &.mobile
        display none
        +above(l)
          display table-cell

    th
      padding 25px 20px
      font-size rem(14px)
      font-weight 500
      color $pink

    td
      padding 20px
      font-size rem(12px)
      color $green-light

      &.actions

        svg
          width 20px
          height 20px
          margin 0 10px

          &.edit
            color $yellow
          
          &.delete
            color $red