.table-row-enter-active
.table-row-leave-active
  transition opacity .6s ease, transform .2s ease-in

.table-row-enter-active
  opacity 0

.table-row-enter
  transform translateX(35px)

.table-row-enter-to
  opacity 1