$black = #22252A
$black-light = #34373D
$grey = #2D3035
$grey-light = #BFC1C4
$grey-dark = #34373d
$white = #FFFFFF
$blue = #0099FF
$pantone = #6272A4
$green = #108775
$green-light = #17C58E
$green-dark = #2E495D
$red = #E83f4D
$pink = #E534AB
$salmon = #FF79C6
$purple = #BD93F9
$cyan = #A4FFFF
$yellow = #FCDB35
$golden = #FFA31A
$success = #69FF94
$error = #FF5555

colors = { 
  black: $black,
  black-light: $black-light,
  grey: $grey,
  grey-light: $grey-light,
  grey-dark: $grey-dark,
  white: $white,
  blue: $blue,
  green: $green,
  green-light: $green-light,
  green-dark: $green-dark,
  red: $red,
  pantone: $pantone,
  salmon: $salmon,
  purple: $purple,
  cyan: $cyan,
  yellow: $yellow,
  golden: $golden,
  success: $success,
  error: $error
}

for key, value in colors
  .bg-{key}
    background-color value

  .c-{key}
    color value