$black = #21222C
$grey = #44475A
$white = #FFFFFF
$blue = #0099ff
$pantone = #6272A4
$red = #FF5555
$green = #69FF94
$salmon = #FF79C6
$purple = #BD93F9
$cyan = #A4FFFF
$yellow = #FCDB35
$golden = #FFA31A

colors = { 
  black: $black,
  grey: $grey,
  white: $white,
  blue: $blue,
  pantone: $pantone,
  red: $red,
  green: $green,
  salmon: $salmon,
  purple: $purple,
  cyan: $cyan,
  yellow: $yellow,
  golden: $golden,
  default: $red
}

for key, value in colors
  .bg-{key}
    background-color value

  .c-{key}
    color value